@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');



.flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.justify-content{
    justify-content: center;
}

.invert{
    filter: invert(100%);
}

.left-wing-bkcolor{
    background-color: #121212;
    border-radius: 8px;
}

.right-wing-bkcolor{
    background-color: #121212;
    border-radius: 8px;
}


.font{
    color: white;
    font-family:  Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;
    font-weight: 550;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.font2{
    color: white;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    font-size: 5px;
    letter-spacing: 0;
}








